<div class="jumbotron">
	<div class="container">
		<h1>Lookilu</h1>

		<h2>Your Friend in the Apartment Search</h2>

		<%= link_to "Sign up", '#', class: "btn btn-primary btn-large" %>
	</div><!-- container -->
</div><!-- jumbotron -->
